@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4f46e5;
  --sidebar-width: 280px;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f3f4f6;
}

#app {
  min-height: 100vh;
}